h1{
  color:black;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 60px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
button{
  border-color: black;
  border-width: 2px;
  border-radius: 50%;
  background-color: black;
  color: green;
  font-weight: bold;
  align-content: center;
  justify-content: center;
  margin-left: 100px;
}
input{
  color: aqua;
  background-color: black;
  font-size: 20px;
  height: 20px;
  width:300px;
  align-items: center;margin-left: 500px;
}
body{
  background-color: aqua;
}
li{
  color:black;
  margin-left: 500px;
  margin-top: 10px;
  display: flex;
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
